<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shooter.funtl.module.dao.ContentCategoryDao">

    <sql id="contentCategorySelect">
        contentCategory.id,
        contentCategory.parent_id as parentId,
        contentCategory.name,
        contentCategory.status,
        contentCategory.sort_order as sortOrder,
        contentCategory.is_parent as isParent,
        contentCategory.created as createTime,
        contentCategory.updated as updateTime

    </sql>

    <select id="selectAll" resultType="ContentCategory">
        SELECT
            <include refid="contentCategorySelect" />
        FROM
            tb_content_category AS contentCategory
            ORDER BY contentCategory.parent_id ASC,contentCategory.sort_order ASC,contentCategory.is_parent DESC
    </select>


</mapper>