<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shooter.funtl.module.dao.UserDao">

    <sql id="userSelect">
        user.id,
        user.username as userName,
        user.password as passWord,
        user.phone,
        user.email,
        user.created as createTime,
        user.updated as updateTime
    </sql>

    <select id="selectUserByParams" resultType="User">
        SELECT
            <include refid="userSelect" />
        FROM
            tb_user AS user
        <where>
            <if test="id != null and id != ''">
                AND user.id =  #{id}
            </if>
            <if test="userName != null and userName != ''">
                AND user.username =  #{userName}
            </if>
            <if test="email != null and email != ''">
                AND user.email =  #{email}
            </if>
            <if test="phone != null and phone != ''">
                AND user.phone =  #{phone}
            </if>
        </where>
    </select>

    <select id="selectByUserLike" resultType="User">
        SELECT
            <include refid="userSelect" />
        FROM
            tb_user AS user
        <where>
            <if test="userName != null and userName != ''">
                AND user.username LIKE CONCAT ('%', #{userName}, '%')
            </if>
            <if test="email != null and email != ''">
                AND user.email LIKE CONCAT ('%', #{email}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND user.phone LIKE CONCAT ('%', #{phone}, '%')
            </if>
        </where>
    </select>

    <select id="selectUserByUserNameLike" resultType="User">
        SELECT
            <include refid="userSelect" />
        FROM
            tb_user AS user
        <where>
            AND username LIKE CONCAT ('%', #{userNameLike}, '%')
        </where>
    </select>

    <select id="selectUserAll" resultType="User">
        SELECT
            <include refid="userSelect" />
        FROM
            tb_user AS user
    </select>

    <insert id="insert">
        INSERT INTO tb_user  (
            id,
            username,
            password,
            phone,
            email,
            created,
            updated
        )
        VALUES (
            #{id},
            #{userName},
            #{passWord},
            #{phone},
            #{email},
            now(),
            now()
        )
    </insert>


    <delete id="deleteById">
        DELETE FROM tb_user WHERE id = #{id}
    </delete>

    <update id="updateById">
        UPDATE
            tb_user
        SET
            username = #{userName},
            password = #{passWord},
            phone = #{phone},
            email = #{email},
            updated = now()
        WHERE id = #{id}
    </update>

</mapper>